# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Data_structue_all\linkedlist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
